	/*	body{

			font-family: , ;
		}*/

		header{
			display: flex;
			padding: 0.9rem;
			margin-bottom: 2rem;
			align-items: center;
			border-bottom: 1px solid gray;
		}

		header .nav-logo {
			flex-grow: 2;
		}

		header .nav {
			margin: 0.5rem;
		}

		#intro {
			padding-left: 10%;
			padding-right: 10%;
			padding-top: 0rem;
			padding-bottom: 3rem;
		}

		#intro, h1, #intro h4 {
			text-decoration-color: black;
			margin-top: 0.5rem;
			margin-bottom: 1rem;
			text-align: center;
		}

		#intro div {
			text-align: center;
		}

		/*footer {
			background-color: black;
			bottom: 0;
		}*/

		#page-container {
  		position: relative;
 		min-height: 75vh;
		}

		#content-wrap {
  		padding-bottom: 2.5rem;    /* Footer height */
		}

		#footer {
		background-color: black;
  		position: absolute;
  		bottom: 0;
  		width: 100%;
 		height: 3rem;            /* Footer height */
		}



